</a>
<body style="background-color: White;">
	<br>
	<center>
		<h1 style="font-size: 50px">
			<i><b><center>İşlem seçelim:</center> <b><i>
		</h1>

		<a href="@{Application.heceler()}">Hecele </a></br> <a
			href="@{Application.kelimeAyristir()}">Kelime Ayristir</a></br> <a
			href="@{Application.kelimeCozumle()}"> Kelime Cozumle</a></br> <a
			href="@{Application.kelimeDenetle()}"> Kelime Denetle</a></br> <a
			href="@{Application.oneriler()}"> Kelime Oner</a></br> <a
			href="@{Application.asciDonustur()}">ASCII'ya Donustur</a></br> <a
			href="@{Application.kokBul()}"> KokBul</a></br> <a
			href="@{Application.sayiBul()}">İstatistikleri Goster</a></br>