#{extends 'base.html' /} #{set title:'Home' /}
<h2>
</br>
	<b>Kullanılan köklerin sıklık durumu:</b>
</h2>

</div>
<div id="istatistik" style="margin: 10px 170px 30px;"></div>

<script type="text/javascript" charset="utf-8">
	window.onload = function() {
		var r = Raphael("istatistik", 700, 1000), fin = function() {
			this.flag = r.g.popup(this.bar.x, this.bar.y, this.bar.value || "0").insertBefore(this);
		}, 
		fout = function() {
			this.flag.animate({opacity : 0}, 300, function() {this.remove();
			});
		};
		r.g.txtattr.font = "12px 'Fontin Sans', Fontin-Sans, sans-serif";

		var kelimeler = ${kelimeDizisi.raw()};
		var sayilar = ${sayiDizisi.raw()};
		var kelimeSayisi = kelimeler.length;
	
		var sayi = new Array();
		
		if(kelimeSayisi>20)
			kelimeSayisi=20;
			
		for(j=0; j<kelimeSayisi; j++)
				sayi[j]=sayilar[j];	

		for (i = 0; i < kelimeSayisi; i++) {
			r.g.text(130, 45 + 28 * i, kelimeler.shift());
			r.g.text(530, 45 + 28 * i, sayilar[i]);
		}
		r.g.hbarchart(200, 30, 300, 30 * kelimeSayisi, [ sayi ]).hover(fin,fout);
	};
</script>

